---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
      <div class="entry-content">
        {{ content }}
        <hr>
        <p>[转载注明]：<a href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a></p>
        <p>{% include JB/sharing %}</p>
        <section align="right">
          <span>
            <a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >Previous</a>
            <a {% if page.next %} href="{{ page.next.url }}" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >Next</a>
          </span>
        </section>
        {% include JB/comments %}
      </div>
      {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
      {% endif %}
    </article>

    {% include footer.html %}
  </div>
</main>
