<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
    <link rel="stylesheet" src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table-all.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    <div id="container"></div>
    <script type="text/javascript" src="/assets/javascripts/bundle.js" charset="utf-8"></script>
  </body>
</html>
